<div class="card hoverable small">
    <div class="card-image">
        <!--<img src="../assets/room.jpg">-->
        <img [src]="'https://challenges.1aim.com/roombooking/' + room.images[0]">
        <span class="card-title">{{ room.name }}</span>
    </div>
    <div class="card-content">
        <p>
            <span class="title">Location:</span> {{ room.location }}
        </p>
        <p>
            <span class="title">capacity:</span> {{ room.capacity }}
        </p>
    </div>
    <div class="card-action">
        <a href="#">Click to see more ...</a>
    </div>
</div>